# To include this into your git config, add the following to ~/.gitconfig:
# [include]
#   path = /path/to/this/directory/.gitconfig

[user]
	name = Tal Safran
[github]
	user = talsafran
[push]
	default = simple
[credential]
	helper = osxkeychain

[alias]
  st = status
  co = checkout
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%an, %cr)%Creset' --abbrev-commit --date=relative --topo-order

[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  grep = auto

