[alias]
  st = status
  co = checkout
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%an, %cr)%Creset' --abbrev-commit --date=relative --topo-order

[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  grep = auto
